body{
    background-color: #012340;
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.container-fluid, .navbar{
    height: auto;
    width:100%;
}
#navbarposition{
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar-header{
    display: inline-block;

}
.custom-navbar-nav{
    display: inline-block;
    float: right;
}
.jumbotron-fluid{
    background: url(Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    color: white;
}

#profilepic{
    padding-left: 30px;   
    padding-right: 30px; 
    border-radius: 50%;
}

#padfix{
    padding-top: 8px;   
}

.card-header{
    background-color: #262626;
    color: white;
    font-weight: bold;  
}

.card{
    height: 100%;
}

.card-body{
    background-color: #262626;
    text-align: center;
    border-style: solid;
    border-width: thin;
}

.card-text{
    font-size: 13px;
    text-align: left;
}

#copyright{
    color: white;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}
