body{
    background-color: #012340;
    padding-top: 3px;
}

.container-fluid, .navbar{
    height: auto;
    width:100%;
}
#navbarposition{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar-header{
    display: inline-block;
}
.custom-navbar-nav{
    display: inline-block;
    float: right;
}

.jumbotron-fluid{
    background: url(Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    color: white;
}

.fa-solid, .fa-brands{
    color: white;
}

#contactform{
    color: white;
    margin: 100px 10px 10px 10px;
    padding: 20px;
    border-style: solid;
}

#comments{
    height: 150px;
    width: 300px;
    max-width: 100%;
}

#map{
    height: 400px;
    width:100%;
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

.col-sm-11{
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
}

.copyright{
    color: white;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}
